/*◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆
CSS
◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆*/
*{box-sizing: border-box;}
body{
  font-family: "ＭＳ Ｐゴシック", "MS PGothic";
  font-size: 1.3rem;
  background-image: url(../img/main.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.opacity_body{/*背景透過body*/
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
}
nav{
  /*<nav></nav>*/
  padding: 20px 0px;
  width: 100%;
  background: #4498ccb4;
  position: fixed;
  bottom: 0;
  z-index:999;/* z-index:999 は、「他コンテンツ」が「固定部分」より前に表示される事を防ぐための設定*/
}
nav li.global_nav_item{
border-bottom: 3px solid #ffffff00;
}
nav li:hover{
  border-bottom: 3px solid #F0E475;
  transition: 0.1s;/* アニメーション速度を指定 */
  transform: scale(1.1);/* hover前後の拡大調整 */
}
ul{
  list-style: none;/*リストの点消す*/
  display: flex;
  justify-content: space-around;
  padding:0;
  margin: 3px 0 0 0;
  width:100%;
}
li a{
  /*<li><a></a><li>*/
  font-size: 1.2rem;
  text-decoration-line: none;/*下線消す*/
  color: #ffffff;
  font-weight: bold;
  transform: scale(1);
}
/*********************************●
index.php
●*********************************/

/********************************●
form.php
●********************************/
/*--お問い合わせフォーム--*/
.Form_box {
  /*<form></form>*/
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
.Form_Title{
  /*<h1></h1>*/
  font-size: 1.7rem;
  font-weight: bold;
  padding: 5px 0px;
  width: 100%;
  display: inline-block;
  text-align: center;
  background: #4498cc;
  color: #fff;
}
.Form-Item {
  /*<form></form>⇒<div></div>*/
  border-bottom: 2px solid #4498ccb4;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.Form-Item-Label {
  /*<form></form>⇒<div></div>⇒<p></p>*/
  width: 100%;
  max-width: 228px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
.Form-Item-Label-Required {
  /*<form></form>⇒<div></div>⇒<p></p>⇒<span></span>*/
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #4498cc;
  color: #fff;
  font-size: 14px;
}
.Form-Item-Input {
  /*<form></form>⇒<div></div>⇒<input .Form-Item-Input></input>*/
  border: 2px solid #4498ccb4;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #ffffff;
  font-size: 18px;
}
.Form-Item-Textarea {
  /*<form></form>⇒<div></div>⇒<textarea></textarea>*/
  border: 2px solid #4498ccb4;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #ffffff;
  font-size: 18px;
}
.Form-Btn {
  /*<form></form>⇒<div></div>⇒<input .Form-Btn></input>*/
  border-radius: 6px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  display: block;
  letter-spacing: 0.07em;
  background: #4498cc;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}



/*◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆
レスポンシブCSS(max-width: 750px)
◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆*/
@media screen and (min-width: 481px) and (max-width: 750px) {
/*********************************●
header.php ハンバーガーメニュー
●*********************************/
.global_nav_btn{
  /*<nav></nav>*/
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 3;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.global_nav_btn span{
  /*.global_nav_btn⇒<span></span>*/
  position: absolute;
  width: 100%;
  height: 4px;
  background: #666;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.global_nav_btn span:nth-child(1) {
  /*ハンバーガーメニューの三本線アイコン*/
  top:0;
}
.global_nav_btn span:nth-child(2) {
  /*ハンバーガーメニューの三本線アイコン*/
  top:10px;
}
.global_nav_btn span:nth-child(3) {
  /*ハンバーガーメニューの三本線アイコン*/
  top:20px;
}
.global_nav_btn.open span:nth-child(1){
  /*ハンバーガーメニューの三本線アイコンの動き*/
  background: #fff;
  top: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}
.global_nav_btn.open span:nth-child(2),.global_nav_btn.open span:nth-child(3){
  /*ハンバーガーメニューの三本線アイコンの動き*/
  top: 6px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}
.global_nav{
  /*<nav></nav>*/
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #4498ccb4;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 2;
  padding-top: 50px;
  transition: .3s;
}
.global_nav.open{
  right: 0px;
}
.global_nav_list{
  /*<nav></nav>⇒<ul></ul>*/
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  /*justify-content: center;*/
}
.global_nav_item{
  /*<nav></nav>⇒<ul></ul>⇒<li></li>*/
  display: block;
  padding : 10px 30px;
}
.global_nav_item a{
  /*<nav></nav>⇒<ul></ul>⇒<li></li>⇒<a></a>*/
  color: #ddd;
  text-decoration: none;
}
}



/*◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆
レスポンシブCSS(max-width: 480px)
◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆*/
@media screen and (max-width: 480px) {
/*********************************●
header.php ハンバーガーメニュー
●********************************/
.global_nav_btn{
  /*<nav></nav>*/
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 24px;
  z-index: 3;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.global_nav_btn span{
  /*.global_nav_btn⇒<span></span>*/
  position: absolute;
  width: 100%;
  height: 4px;
  background: #666;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.global_nav_btn span:nth-child(1) {
  /*ハンバーガーメニューの三本線アイコン*/
  top:0;
}
.global_nav_btn span:nth-child(2) {
  /*ハンバーガーメニューの三本線アイコン*/
  top:10px;
}
.global_nav_btn span:nth-child(3) {
  /*ハンバーガーメニューの三本線アイコン*/
  top:20px;
}
.global_nav_btn.open span:nth-child(1){
  /*ハンバーガーメニューの三本線アイコンの動き*/
  background: #fff;
  top: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}
.global_nav_btn.open span:nth-child(2),.global_nav_btn.open span:nth-child(3){
  /*ハンバーガーメニューの三本線アイコンの動き*/
  top: 6px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}
.global_nav{
  /*<nav></nav>*/
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #4498ccb4;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 2;
  padding-top: 50px;
  transition: .3s;
}
.global_nav.open{
  right: 0px;
}
.global_nav_list{
  /*<nav></nav>⇒<ul></ul>*/
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  /*justify-content: center;*/
}
.global_nav_item{
  /*<nav></nav>⇒<ul></ul>⇒<li></li>*/
  display: block;
  padding : 10px 30px;
}
.global_nav_item a{
  /*<nav></nav>⇒<ul></ul>⇒<li></li>⇒<a></a>*/
  color: #ddd;
  text-decoration: none;
}
/*********************************●
index.php
●*********************************/
.logo_box img{
  /*<imr></img>*/
  width: 50%;
}
/*********************************●
form.php
●*********************************/
/*--お問い合わせフォーム--*/
  .Form_box {
    /*<form></form>*/
    margin-top: 40px;
    width: 100%;
  }
  .Form_Title{
    /*<h1></h1>*/
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .Form-Item {
    /*<form></form>⇒<div></div>*/
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
  .Form-Item-Label {
    /*<form></form>⇒<div></div>⇒<p></p>*/
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  .Form-Item-Label-Required {
    /*<form></form>⇒<div></div>⇒<p></p>⇒<span></span>*/
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
  .Form-Item-Input {
    /*<form></form>⇒<div></div>⇒<input .Form-Item-Input></input>*/
    margin-left: 0;
    margin-top: 18px;
    width: 100%;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
  .Form-Item-Textarea {
    /*<form></form>⇒<div></div>⇒<textarea></textarea>*/
    margin-top: 18px;
    margin-left: 0;
    width: 100%;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
  .Form-Btn_box {
    /*<form></form>⇒<div .Form-Btn_box></div>⇒<input .Form-Btn></input>*/
    text-align: center;
  }
  .Form-Btn {
    /*<form></form>⇒<div></div>⇒<input .Form-Btn></input>*/
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}